/* Table of contents

body
code
big banner
negative margin
my card
my cars 2
banner style

*/

:root{
  --primary-color:#0F155D;
  
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.big-banner{
  background-image: url("../public/assets/hero-bg.jpg");
}

.negative-margin{
  margin-top: -200px;
  margin-left: -10px;
}
.my-card{
  
  background-color:rgb(40 123 198);
  color:white;
  padding:20px;
  text-align:left;
  border-radius:4px;
  
}

.my-card2{
  background-color:white;
  color:black;
  padding:20px;
  text-align:left;
  border-radius:10px;
}
.bannerstyle{
  height: 500px;
  padding-left:100px;
  text-align:left;
  margin-top: 80px;
}

/* .image-container {
  width: 600px; 
  height: 600px; 
  overflow: hidden; 
}

.image-container img {
  width: 500%; 
  height: 100%;
  object-fit: cover;
}  */

.myicon{
  font-size: 30px;
}

.counts {
  background: rgb(241, 247, 253);
  padding: 70px 0px 60px;
}

.wrapper{
  padding:6.35rem 0 0 0;
}
.man-btn{
  display: inline-block;
  border: 0.625rem solid var(--bg-white);
  color:var(--text-white);
}

@keyframes movebounce{
  0%{
    -webkit-transform: translateY(0);
    transform: translate(0);
  }
  50%{
    -webkit-transform: translateY(1.25);
    transform: translate(1.25rem);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translate(0);
  }
}
@media(max-width: 1199.55px){
  .card{
    padding: 2px;
  }
}

